body {margin: 0; padding: 0; font-size: 100%; line-height: 1.5;}
article, aside, figcaption, figure, footer, header, nav, section {display: block;}

ul, ol {margin: 1em 0; padding-left: 40px;}
p, figure {margin: 1em 0;}
a img {border: none;}
sup, sub {line-height: 0;}

.illustration { 
    background-color: green;
}

.emphasized { 
    background-color: yellow;
   
}

p.emphasized{
    font-family: Lobster;
    font-style: oblique;
    font-size: 70px;
} 


.reveal section del {
  color: red;
}


.exclaim .reveal .state-background {
  background: black;
} 

.exclaim .reveal h1,
.exclaim .reveal h2,
.exclaim .reveal p {
  color: white;
}



